{% extends 'base.html' %}
{% block content %}
        <div class="container">
            <div class="card m-3", style="background-color:#EAF2F8">
                <div class="card-body", style="background-color:#EAF2F8">
                    <h2 class="card-title", style="background-color:#EAF2F8">
                        Hello there!
                    </h2>
                    <p class="card-text">
                        This is a simple app where users can write blogs and translate blogs from English to Chinese.
                        I am Amelia, currently pursuing a Master of Internet Technology. This is my personal project :)
                    </p>
                </div>     
            </div> 
        </div>
        
{% endblock content %}